<div  class="container">
    <div class="about_content">
        <p class="about_p"><span class="fadareak">Fadareak</span> is one of the most exciting future brands in modern day Nigerian photography. His unique and creative outlook on life has been expressed through visual art, and makes his coverage of different events an exciting tale. This ability to blend natural landscapes and modern architecture, as well as incorporating his subjects into unfamiliar and different terrains showcases his eclectic yet fascinating take on art.</p>
        <p class="about_p">The young Photographer behind Fadareak started the brand during his days at covenant university studying Computer Engineering.</p>
        <p class="about_p">Their art has been nominated for various awards, including Campus Heat Awards, Nigerian Teens Choice Awards, CST Awards and won the Gtcrea8 Competition in 2014 organized by Gtbank.  Fadareak is a two times published photographer and his work has been reproduced on large print. His speciality includes Event, Portrait and High Fashion photography, with a distinct style that can be easily recognised. Fadareak is based in <span class="fadareak">Abuja</span> and ready to travel.<p>
        <p class="about_p">Fadareak has a very artistic view towards photography and hopes to move on to teaching the art of photography, project management in photography and effective branding techniques to young and aspiring photographers. Fadareak is credited to developing a project Called <span class="fadareak">Love Meets Photography</span> that is celebrated yearly in Covenant University and also in Abuja.
        </p>
    </div>
</div>
<!-- Footer-->
<div class="footer">
    <div class="footer_text">
        <p>&copy; 2015. Ibukun Balogun</p>
        <p>Developed by <a target="_blank" href="http://www.fusion.com.ng">Fusion</a></p>
        <p>Share this page <a href="http://twitter.com/intent/tweet?original_referer=http://fadareak.xyz&text=@Fadareak1's new website is pretty awesome. Peep it at www.fadareak.xyz" target="_blank"><img src="/assets/img/twitter-32.ico" alt="Share on Twitter"></a></p>
    </div>
</div>