<div class="container">
    <ul class="cb-slideshow">
        <li><span>Image 01</span><div></div></li>
        <li><span>Image 02</span><div>></div></li>
        <li><span>Image 03</span><div></div></li>
        <li><span>Image 04</span><div></div></li>
        <li><span>Image 05</span><div></div></li>
        <li><span>Image 06</span><div></div></li>
    </ul>

    <div class="border"></div>

    <div class="introtext container">
        <div class="row">
            <div class="col-xs-12 text slider_text">
                <span class=" text slider_span">Fadareak Photography</span>
                <h1 class="text slider_h1">Brilliant Measures</h1>
                <a ui-sref="work" class=" transition explore btn btn-default">Explore More</a>
            </div>
        </div>
    </div>
</div>