<div id="container" chocolat config="configOnScope">

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/1.jpg"><img src="http://yomi.imgix.net/concerts/1.jpg" class="img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/3.jpg"><img src="http://yomi.imgix.net/concerts/3.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/4.jpg"><img src="http://yomi.imgix.net/concerts/4.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/5.jpg"><img src="http://yomi.imgix.net/concerts/5.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/6.jpg"><img src="http://yomi.imgix.net/concerts/6.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/7.jpg"><img src="http://yomi.imgix.net/concerts/7.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/8.jpg"><img src="http://yomi.imgix.net/concerts/8.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/2.jpg"><img src="http://yomi.imgix.net/concerts/2.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/9.jpg"><img src="http://yomi.imgix.net/concerts/9.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/10.jpg"><img src="http://yomi.imgix.net/concerts/10.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/11.jpg"><img src="http://yomi.imgix.net/concerts/11.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/12.jpg"><img src="http://yomi.imgix.net/concerts/12.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/13.jpg"><img src="http://yomi.imgix.net/concerts/13.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/concerts/14.jpg"><img src="http://yomi.imgix.net/concerts/14.jpg" class="img-responsive"></a>
	</div>


</div>