<div id="container" chocolat config="configOnScope">

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/1.jpg"><img src="http://yomi.imgix.net/events/1.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/2.jpg"><img src="http://yomi.imgix.net/events/2.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/3.jpg"><img src="http://yomi.imgix.net/events/3.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/4.jpg"><img src="http://yomi.imgix.net/events/4.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/5.jpg"><img src="http://yomi.imgix.net/events/5.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/6.jpg"><img src="http://yomi.imgix.net/events/6.jpg" class=" img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/8.jpg"><img src="http://yomi.imgix.net/events/8.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/9.jpg"><img src="http://yomi.imgix.net/events/9.jpg" class=" img-responsive"></a>
	</div>

    <div class="item">
        <a class="chocolat-image" href="http://yomi.imgix.net/events/14.jpg"><img src="http://yomi.imgix.net/events/14.jpg" class=" img-responsive"></a>
    </div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/10.jpg"><img src="http://yomi.imgix.net/events/10.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/7.jpg"><img src="http://yomi.imgix.net/events/7.jpg" class=" img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/21.jpg"><img src="http://yomi.imgix.net/events/21.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/24.jpg"><img src="http://yomi.imgix.net/events/24.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/11.jpg"><img src="http://yomi.imgix.net/events/11.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/12.jpg"><img src="http://yomi.imgix.net/events/12.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/13.jpg"><img src="http://yomi.imgix.net/events/13.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/14.jpg"><img src="http://yomi.imgix.net/events/14.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/15.jpg"><img src="http://yomi.imgix.net/events/15.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/16.jpg"><img src="http://yomi.imgix.net/events/16.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/17.jpg"><img src="http://yomi.imgix.net/events/17.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/18.jpg"><img src="http://yomi.imgix.net/events/18.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/19.jpg"><img src="http://yomi.imgix.net/events/19.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/20.jpg"><img src="http://yomi.imgix.net/events/20.jpg" class=" img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/22.jpg"><img src="http://yomi.imgix.net/events/22.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/23.jpg"><img src="http://yomi.imgix.net/events/23.jpg" class=" img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/25.jpg"><img src="http://yomi.imgix.net/events/25.jpg" class=" img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/events/26.jpg"><img src="http://yomi.imgix.net/events/26.jpg" class=" img-responsive"></a>
	</div>

</div>