
<div id="container" chocolat config="configOnScope">

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/6.jpg"><img src="http://yomi.imgix.net/art/6.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/2.jpg"><img src="http://yomi.imgix.net/art/2.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/12.jpg"><img src="http://yomi.imgix.net/art/12.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/13.jpg"><img src="http://yomi.imgix.net/art/13.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/14.jpg"><img src="http://yomi.imgix.net/art/14.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/3.jpg"><img src="http://yomi.imgix.net/art/3.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/4.jpg"><img src="http://yomi.imgix.net/art/4.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/5.jpg"><img src="http://yomi.imgix.net/art/5.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/1.jpg"><img src="http://yomi.imgix.net/art/1.jpg" class="img-responsive"></a> 
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/7.jpg"><img src="http://yomi.imgix.net/art/7.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/8.jpg"><img src="http://yomi.imgix.net/art/8.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/9.jpg"><img src="http://yomi.imgix.net/art/9.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/10.jpg"><img src="http://yomi.imgix.net/art/10.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="http://yomi.imgix.net/art/11.jpg"><img src="http://yomi.imgix.net/art/11.jpg" class="img-responsive"></a>
	</div>

</div>