<div class="work_albums">
	<div class="row">
		<div class="album col-md-6 col-sm-6 col-xs-12">
			<img src="/assets/img/art/13.jpg" class="work_img work_img1 img-responsive transition">
			<a class="transition art" ui-sref=".art" >Art</a>
		</div> 

		<a ui-sref=".concert"><div class="album col-md-6 col-sm-6 col-xs-12">
			<img src="/assets/img/concerts/11.jpg" class="work_img work_img2 img-responsive transition">
			<h2 class="transition concert">Concerts</h2>
		</div></a>

		<a ui-sref=".event"><div class="album col-md-6 col-sm-6 col-xs-12">
			<img src="/assets/img/events/13.jpg" class="work_img work_img3 img-responsive transition">
			<h2 class="transition events">Events</h2>
		</div></a>

		<a ui-sref=".potraitart"><div class="album col-md-6 col-sm-6 col-xs-12">
			<img src="/assets/img/potraitart/3.jpg" class="work_img work_img4 img-responsive transition">
			<h2 class="transition potraitart">Potrait Art</h2>
		</div></a>
	</div>
</div>