<div id="container" chocolat config="configInScope">

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/1.jpg"><img src="/assets/img/potraitart/1.jpg" class="img-responsive  "></a>
	</div>

	
	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/6.jpg"><img src="/assets/img/potraitart/6.jpg" class="img-responsive  "></a>
	</div>
	
	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/5.jpg"><img src="/assets/img/potraitart/5.jpg" class="img-responsive  "></a>
	</div>

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/3.jpg"><img src="/assets/img/potraitart/3.jpg" class="img-responsive  "></a>
	</div>

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/88.jpg"><img src="/assets/img/potraitart/8.jpg" class="img-responsive  "></a>
	</div>


	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/44.jpg"><img src="/assets/img/potraitart/4.jpg" class="img-responsive  "></a>
	</div>

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/2.jpg"><img src="/assets/img/potraitart/2.jpg" class="img-responsive  "></a>
	</div>


	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/77.jpg"><img src="/assets/img/potraitart/7.jpg" class="img-responsive  "></a>
	</div>


	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/99.jpg"><img src="/assets/img/potraitart/9.jpg" class="img-responsive  "></a>
	</div>

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/100.jpg"><img src="/assets/img/potraitart/10.jpg" class="img-responsive  "></a>
	</div>

	<div class="item grow">
		<a class="chocolat-image" href="/assets/img/potraitart/111.jpg"><img src="/assets/img/potraitart/11.jpg" class="img-responsive  "></a>
	</div>

	
</div>