<div id="container" chocolat config="configOnScope">

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/1.jpg"><img src="/asset/img/concerts/1.jpg" class="img-responsive"></a>
	</div>


	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/3.jpg"><img src="/asset/img/concerts/3.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/4.jpg"><img src="/asset/img/concerts/4.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/5.jpg"><img src="/asset/img/concerts/5.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/6.jpg"><img src="/asset/img/concerts/6.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/7.jpg"><img src="/asset/img/concerts/7.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/8.jpg"><img src="/asset/img/concerts/8.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/2.jpg"><img src="/asset/img/concerts/2.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/9.jpg"><img src="/asset/img/concerts/9.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/10.jpg"><img src="/asset/img/concerts/10.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/11.jpg"><img src="/asset/img/concerts/11.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/12.jpg"><img src="/asset/img/concerts/12.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/13.jpg"><img src="/asset/img/concerts/13.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/14.jpg"><img src="/asset/img/concerts/14.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/asset/img/concerts/15.jpg"><img src="/asset/img/concerts/15.jpg" class="img-responsive"></a>
	</div>

</div>