
<div class="container" id="container" chocolat config="configOnScope">

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/6.jpg"><img src="/assets/img/art/6.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/2.jpg"><img src="/assets/img/art/2.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/12.jpg"><img src="/assets/img/art/12.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/13.jpg"><img src="/assets/img/art/13.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/14.jpg"><img src="/assets/img/art/14.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/3.jpg"><img src="/assets/img/art/3.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/4.jpg"><img src="/assets/img/art/4.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/5.jpg"><img src="/assets/img/art/5.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/1.jpg"><img src="/assets/img/art/1.jpg" class="img-responsive"></a> 
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/7.jpg"><img src="/assets/img/art/7.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/8.jpg"><img src="/assets/img/art/8.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/9.jpg"><img src="/assets/img/art/9.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/10.jpg"><img src="/assets/img/art/10.jpg" class="img-responsive"></a>
	</div>

	<div class="item">
		<a class="chocolat-image" href="/assets/img/art/11.jpg"><img src="/assets/img/art/11.jpg" class="img-responsive"></a>
	</div>

</div>