    <div class="container">
        <div class="work_header">
            <a class="work_link" ui-sref=".art">Art</a>
            <a class="work_link" ui-sref=".concert">Concert</a>
            <a class="work_link" ui-sref=".event">Event</a>
            <a class="work_link" ui-sref=".potraitart">Potrait Art</a>
        </div>

        <div ui-view>
            <div class="work_albums">
                <div class="row">
                    <a ui-sref=".art"><div class="album col-md-6 col-sm-6 col-xs-12">
                        <img src="http://yomi.imgix.net/art/13.jpg" class="work_img work_img1 img-responsive transition">
                        <h2 class="transition art">Art</h2>
                    </div>

                    <a ui-sref=".concert"><div class="album col-md-6 col-sm-6 col-xs-12">
                        <img src="http://yomi.imgix.net/concerts/11.jpg" class="work_img work_img2 img-responsive transition">
                        <h2 class="transition concert">Concerts</h2>
                    </div></a>

                    <a ui-sref=".event"><div class="album col-md-6 col-sm-6 col-xs-12">
                        <img src="http://yomi.imgix.net/events/25.jpg" class="work_img work_img3 img-responsive transition">
                        <h2 class="transition events">Events</h2>
                    </div></a>

                    <a ui-sref=".potraitart"><div class="album col-md-6 col-sm-6 col-xs-12">
                        <img src="http://yomi.imgix.net/potraitart/3.jpg" class="work_img work_img4 img-responsive transition">
                        <h2 class="transition potraitart">Potrait Art</h2>
                    </div></a>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer-->
    <div class="footer">
        <div class="footer_text">
            <p>&copy; 2015. Ibukun Balogun</p>
            <p>Developed by <a target="_blank" href="http://www.fusion.com.ng">Fusion</a></p>
            <p>Share this page <a href="http://twitter.com/intent/tweet?original_referer=http://fadareak.xyz&text=@Fadareak1's new website is pretty awesome. Peep it at www.fadareak.xyz" target="_blank"><img src="http://yomi.imgix.net/twitter-32.ico" alt="Share on Twitter"></a></p>
        </div>
    </div>